{% extends 'base.html' %}
{% block content %}

<div class="card">
    <div class="card-header">
        <strong>ID:</strong> {{ customer_record.id }} </br>
        <strong>Date & Client name:</strong> {{ customer_record.created_at }} {{ customer_record.client_name }}
    </div>
    <div class="card-body">
      
      <!-- Compute Section -->
      <h3>Compute</h3>
      <hr>
      <h5 class="card-title">vCPU: {{ customer_record.vcpu }}</h5>
      <h5 class="card-title">vRAM: {{ customer_record.vram }}</h5>
      <h5 class="card-title">Godziny administracyjne: {{ customer_record.adm_hours }}</h5>
      <h5 class="card-title">vConnect: {{ customer_record.vcconnect }}</h5>
      
      <!-- Separator -->
      <div style="border-bottom: 2px solid #ccc; margin: 10px 0;"></div>
      
      <!-- Storage Section -->
      <h3>Storage</h3>
      <hr>
      <h5 class="card-title">Dysk: {{ customer_record.disk }}</h5>
      <h5 class="card-title">Profil wydajnościowy dysku: {{ customer_record.disk_profile }}</h5>
      <h5 class="card-title">PBS Backup: {{ customer_record.pbs }}</h5>
      <h5 class="card-title">PBS - Replikacja: {{ customer_record.pbs_replication }}</h5>
      
      <!-- Separator -->
      <div style="border-bottom: 2px solid #ccc; margin: 10px 0;"></div>
      
      <!-- Networking Section -->
      <h3>Networking</h3>
      <hr>
      <h5 class="card-title">Dodatkowe publiczne IP: {{ customer_record.ip }}</h5>
      <h5 class="card-title">Przepustowość sieci publicznej: {{ customer_record.pub_net_speed }}</h5>
      <h5 class="card-title">Sieć wewnętrzna 1Gbit/s: {{ customer_record.network }}</h5>
      <h5 class="card-title">Strefa bezpieczeństwa: {{ customer_record.dmz }}</h5>
      
      <!-- Separator -->
      <div style="border-bottom: 2px solid #ccc; margin: 10px 0;"></div>
      
      <!-- Security Section -->
      <h3>Security</h3>
      <hr>
      <h5 class="card-title">DSS Firewall Premium (10 reguł): {{ customer_record.fw_premium }}</h5>
      <h5 class="card-title">DSS GeoFirewall: {{ customer_record.geofw }}</h5>
      <h5 class="card-title">DSS IPSec: {{ customer_record.ipsec }}</h5>
      <h5 class="card-title">DSS konto SSL-VPN: {{ customer_record.ssl_vpn }}</h5>
      <h5 class="card-title">DSS Guard DNS: {{ customer_record.dns_guard }}</h5>
      <h5 class="card-title">DSS Webfiltering: {{ customer_record.webfiltering }}</h5>
      <h5 class="card-title">DSS IDS/IPS/AV 100Mbit/s: {{ customer_record.ids_ips }}</h5>
      <h5 class="card-title">DSS vDOM: {{ customer_record.vdom }}</h5>
      
      <!-- Separator -->
      <div style="border-bottom: 2px solid #ccc; margin: 10px 0;"></div>
      
      <!-- Licenses Section -->
      <h3>Licenses</h3>
      <hr>
      <h5 class="card-title">Windows Server 2022 (1Y): {{ customer_record.ws2022_1 }}</h5>
      <h5 class="card-title">Windows Server 2022 (3Y): {{ customer_record.ws2022_3 }}</h5>
      <h5 class="card-title">Windows Server 2022 CAL (1Y): {{ customer_record.ws2022_cal_1 }}</h5>
      <h5 class="card-title">Windows Server 2022 CAL (3Y): {{ customer_record.ws2022_cal_3 }}</h5>
      <h5 class="card-title">RDS CAL (1Y): {{ customer_record.rds_cal_1 }}</h5>
      <h5 class="card-title">RDS CAL (3Y): {{ customer_record.rds_cal_3 }}</h5>
      <h5 class="card-title">RDS CAL (PERPETUAL): {{ customer_record.rds_cal_perpetual }}</h5>
      
      <!-- Separator -->
      <div style="border-bottom: 2px solid #ccc; margin: 10px 0;"></div>
      
      <!-- General Information -->
      <h5 class="card-title"><strong>Typ: </strong>{{ customer_record.type }}</h5>
      <h5 class="card-title"><strong>Accepted: </strong>{{ customer_record.is_accepted }}</h5>
      <h5 class="card-title"><strong>Status: </strong>{{ customer_record.status }}</h5>
    </div>
</div>

<!-- Dodanie przycisków na tym samym poziomie -->
<div class="d-flex justify-content-between mt-3">
    <!-- Przyciski po lewej stronie -->
    <div>
        <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
        <a href="{% url 'update_record' customer_record.id %}" class="btn btn-secondary">Update</a>
        <a href="{% url 'generate_xlsx' customer_record.id %}" class="btn btn-success">Download XLSX</a>
    </div>
    
    <!-- Przycisk Delete po prawej stronie -->
    <div>
        <a href="{% url 'delete_record' customer_record.id %}" class="btn btn-danger">Delete</a>
    </div>
</div>

{% endblock %}